body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body{
  margin:0;
  padding: 0;
}
header{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 1);
}
#main{
  display: flex;
  flex-direction: row;
}
#main > div{
  width: 20%;
}
#main > img{
  width: 80%;
  height: 100%;
  border: none;
}
#main > div a{
  font-size: large;
  color: black;
}
#main >div a:hover{
  margin-top: 3px;
  background-color: rgba(255, 0, 0, 0.85);
  color:white;
}
#menu{
  width: inherit;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  background-color: white;
  display: none;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}
#appchatmain{
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
#appchatmain form{
display: inline;
position: fixed;
margin-top: 680px;
margin-left: 200px;
width:48%;
height: 0px;
background-color: transparent;
}
#chatcontainer{
  border-radius: 2px;
  background-color: white;
  width: 650px;
  height:820px;
  border: 1px solid black;
}
#chatcontainer #from{
  margin-left: 350px;
}
#chatcontainer #to{
  width:350px;
}
#chatcontainer > div{
  height:680px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
textarea{
  color:black;
  width: 68%;
}
@media  screen and (max-width:360px) {
  #main{
      display:block;
  }
  #main > div {
      width: 100%;
  }

  #main > img{
      display: none;
  }

  #chatcontainer #from{
    margin-left: 250px;
  }
  #chatcontainer #to{
    width: 250px;
  }

  #chatcontainer{
    border-radius: 2px;
    background-image: url("../src/pages/Application/Images/chatBackground.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 630px;
    height:940px;
    border: 1px solid black;
  }

  #chatcontainer > div{
    height: 650px;
    overflow-y: auto;
  }
  textarea{
    color:black;
    width: 84%;
  }
  #appchatmain form{
    height: 40px;
    display: inline;
    position: fixed;
    margin-top: 650px;
    margin-right: 180px;
    width: 100%;
    }

  
}

@media  screen and (width:412px) {
  #main{
      display:block;
  }
  #main > div {
      width: 100%;
  }

  #main > img{
      display: none;
  }

  #chatcontainer #from{
    margin-left: 250px;
  }
  #chatcontainer #to{
    width:250px;
  }

  #chatcontainer > div{
    overflow-y: auto;
    height: 780px;
  }

  #chatcontainer{
    border-radius: 2px;
    background-image: url("../src/pages/Application/Images/chatBackground.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 630px;
    height:940px;
    border: 1px solid black;
  }
  textarea{
    color:black;
    width: 84%;
  }
  #appchatmain form{
    height: 40px;
    display: inline;
    position: fixed;
    margin-top: 780px;
    margin-right: 200px;
    width: 100%;
    }

  
}
@media  screen and (width:768px) {
  #main{
      display:block;
  }
  #main > div {
      width: 100%;
  }

  #main > img{
      display: none;
  }
  #chatcontainer #from{
    margin-left: 450px;
  }
  #chatcontainer #to{
    width: 450px;
  }

  #chatcontainer > div{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 880px;
  }

  #chatcontainer{
    border-radius: 2px;
    background-image: url("../src/pages/Application/Images/chatBackground.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height:1040px;
    border: 1px solid black;
  }
  textarea{
    color:black;
    width: 90%;
  }
  #appchatmain form{
    height: 40px;
    display: inline;
    position: fixed;
    margin-top: 880px;
    width: 100%;
    margin-right: 200px;
    }

  
}
